
<!DOCTYPE html>
<html lang="en">
<head>
<title>헤드부분 - ejs 에서 include 됨</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style >
    footer{
        padding-right: 15px;
    padding-left: 110px;
    margin-right: auto;
    margin-left: auto;
    }
        
</style>
</head>
<footer>
    <br><br> <a href="/public/login.html">로그인으로 - ejs에서 include 됨</a>
</footer> 
</html>